body{
    margin: 0 auto;
    width: 600px;

}

.header-banner{
    height: 167px;
    background-image: url("images/ferks-guare-KEZdWfYD-ow-unsplash\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-family: "Smythe", system-ui;
    padding: 1px 20px;
}

.container{
    color: black;
}


/* Slot per item */
.item-slot{
    display: flex;
    border-bottom: 1px solid black;
    width: 550px;
    margin: 0 auto;
    
}

/* Gambar icon */
.item-icon{
    font-size: 60px;
    margin-right: 20px;

}

/* Detail icon berupa nama, ingredients, harga */
.item-details{
    margin: auto;
    width: 400px;
}

/* Tombol untuk add item to cart */
.item-button{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: white;
    border: 1px solid black;
    margin: auto;
}

.order-section{
    width: 550px;
    margin: 40px auto;

}

/* 1 Order bar */
.order-bar{
    display: flex;
    justify-content: space-between;
    /* height: 40px; */
}

/* Berisi total price dan akumulatif price sekarang */
.total-list{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

/* Bagian nama dan remove button */
.name-remove{
    display: flex;
    gap: 20px;
}

#remove-btn{
    background:none;
    border: none;
}

#complete-btn{
    background-color: #16DB99;
    color: white;
    width: 100%;
    border: none;
    height: 60px;
    margin: 0 auto;
}

.order-section p{
    text-align: center;
}




